<div class="prozo-cart-wrapper">
  <h1 class="user-form-title">Cart<h1>
  <div class="prozo-invoice-info">
      <ul class="prozo-invoice-item">
        <li>Pasta</li>
        <li>Pasta</li>
        <li>Pasta</li>
      </ul>
      <ul class="prozo-invoice-item">
        <li>Rs. 299</li>
        <li>Rs. 450</li>
        <li>Rs. 250</li>
      </ul>
    </div>
    <div class="prozo-invoice-price">
      Rs. 1000
    </div>
    <div><a class="order-button">Order</a></div>
</div>
<p class="coords">PROZO N 49° 16' 35.173"  /  W 0° 42' 11.30" PROZO</p>
