<div id="prozo-parallax">

<section>
  <div class="title">
    <h3>Food for Heart</h3>
    <h1>PROZO</h1>
    <span class="prozo-home-buttons">
    <% if(!@current_user) %>
      <%= link_to "Login", new_sessions_path%>
    <% end%>
    <% if( !@current_user || (@current_user && @current_user.role == "admin")    ) %>
      <%= link_to "Register", new_user_path%>
    <% end%>

    </span>
  </div>
</section>

<section>
    <div class="parallax-one">
      <h2>Eat All That Your Heart Desires.</h2>
    </div>
</section>

<section>
  <div class="block">
    <div class="title">
      <h3>Extensive Food Selection</h3>
      <p class="line-break margin-top-10"></p>
      <h1>PROZO</h1>
    </div>
  </div>
</section>

<section>
  <div class="parallax-two">
    <h2>World Class Cuisine.</h2>
  </div>
</section>

<section>
  <div class="block">
    <div class="title">
      <h3>Made with LOVE</h3>
      <p class="line-break margin-top-10"></p>
      <h1>PROZO</h1>
    </div>
  </div>
</section>

<section>
  <div class="parallax-three">
    <h2>Convenient and great tasting food.</h2>
  </div>
</section>

</div>
