<div class="prozo-report-wrapper">
  <h1 class="user-form-title">Report</h1>

  <section class="prozo-report-section">
    <h1 class="prozo-section-title">Most Ordered Menu Items</h1>
    <div class="prozo-report-order-frequency-wrapper">
      <div class="report-item-frequency-row">
        <span class="report-item-name">Pasta</span>
        <span class="report-item-frequency">62</span>
      </div>
    </div>
  </section>

  <section class="prozo-report-section">
    <h1 class="prozo-section-title">Types of Orders</h1>
    <div class="prozo-report-order-type-wrapper">
      <div class="report-item-type-row">
        <span class="report-order-type">Pasta</span>
        <span class="report-order-type-frequency">62</span>
      </div>

    </div>
  </section>

  <section class="prozo-report-section">
    <h1 class="prozo-section-title">Earnings</h1>
    <div class="prozo-report-order-profit-row">
      <span class="report-earnings-label">Profit</span>
      <span class="report-earnings report-profit ">Rs. 62</span>
    </div>
    <div class="prozo-report-order-profit-row">
      <span class="report-earnings-label">Revenue</span>
      <span class="report-earnings report-profit">Rs. 62</span>
    </div>
    <div class="prozo-report-order-profit-row">
      <span class="report-earnings-label">Production Cost</span>
      <span class="report-earnings report-loss">Rs. 62</span>
    </div>
  </section>


</div>
