.prozo-menu-wrapper{
  margin:0 auto;
  width:80%;
  text-align:center;
  font-family:'Oswald', sans-serif;
}
.prozo-menu-heading{
  border:1px solid #eee;
  font-size: 70px;
  margin: 50px 0;
  background: #1F2739;
  border-radius: 10px;
  color: #fff;
}
.prozo-menu-buttons a{
  text-decoration:none;
  color:#fff;
  background:#615656;
  padding:10px;
  border-radius:5px;
  display:inline-block;
  margin-right:10px;
  font-size:20px;
  font-weight:700;
  margin:40px 0;
}
.prozo-menu-buttons a:hover{
  background:#000;
}
.menu-category{
  text-transform: uppercase;
}
.menu-row{
  display:flex;
  justify-content:space-evenly;
  font-size:22px;
  font-weight:500;
  margin:15px 0;
  padding-bottom:10px;
  border-bottom:1px solid #eee;
}
.add-to-cart-button{
  text-decoration: none;
  background: #19d219;
  padding: 5px 15px;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 17px;
}
.menu-item-description{
  width: 45%;
}
.add-to-cart-button:hover{
  background:#186918;
  color:#fff;
}
.switch.category-switch:before{
  content: 'CATEGORY STATUS';
  margin-left: -10px;
}


.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -5px;
  border-radius: 8px 0 0 8px;
}

form #increase {
  margin-left: -5px;
  border-radius: 0 8px 8px 0;
}

/* form #input-wrap {
  margin: 0px;
  padding: 0px;
} */

input#number {
  text-align: center;
  border: none;
  border: 1px solid #ddd;
  margin: 0px;
  width: 42px;
  height: 50px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.menu-add-to-cart form{
  display: inline-block;
}
.edit-menu-item-button{
  text-decoration: none;
  background: #434b96;
  padding: 5px 15px;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 17px;
  border: none;
}
.out-of-stock-label{
  color:red;
  font-size:15px;
  margin:10px;
  text-transform:uppercase;
  letter-spacing:-0.5px;
  border:1px solid red;
  padding:5px;
  border-radius:5px;
}
