<div class="menu-row">
  <span><%= item.name %></span>
  <span class="menu-item-description"><%= item.description %></span>
  <span><%= item.price %></span>
  <span class="menu-add-to-cart"><%= link_to "ADD TO CART", {:action=>"index", :controller=>"categories"}, class:"add-to-cart-button" %></span>
</div>
