<section class="users-new">
  <%= form_with url: {:action=>"create", :controller=>"categories"}, method: :post do |form| %>
    <h1 class="user-form-title">Add Category</h1>

    <div class="user-form-input-section">
      <p class="user-form-input-label">Category Name:</p>
      <%= form.text_field :name, class: "user-form-input" %>
    </div>

    <div class="user-form-input-section">
      <p class="user-form-input-label">Category Status:</p>
      <%= form.select :is_active, [["Active", "true"], ["Inactive", "false"]], selected: "true" %>
    </div>

    <%= form.submit "Add", class: "user-form-submit-button" %>

  <% end %>
</section>
